a.nav_link {
    text-decoration: none;
    color: white;
}

a.nav_link:hover {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

div.border {
    border-radius: 15px;
    background-color: #96f0f0;
}
