a.link {
    text-decoration: none;
    color: red;
}

a.link:hover {
text-decoration: none;
cursor: pointer;
color: #cb9ef1;
}

.btn-round {
    border-radius: 23px;
}

.hr-white {
    border-top: 1px solid white;
}

.quotes {
    background-color: #cb9ef1;
}

.quotes-container {
    text-align: center;
}
